extends layout 

block content 
    .row.banner 
        .col-12 
            h1= title 
    .row 
        .col-12.col-lg-8 
            p 
                | Loc8r a été crée pour aider les gens à trouver des endroits pour s'asseoir et réaliser une tache.
                | <br /><br />
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Illo error app_server/viewssi porro reprehenderit sapiente velit sint saepe, quia expedita officiis ipsa alias iure, incidunt architecto quae 
                mollitia sequi at quisquam!