extends layout

block content
  .row.banner   
    .col-12   
      h1 loc8r 
        small &nbsp; Trouvez des endroits pour travailler avec le wifi près de chez vous! 
  .row  
    .col-12.col-md-8
      .card 
        .card-block 
          h4 
            a(href='/location') Starcups 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            span.badge.badge-pill.badge-default.float-end 100m
          p.address 125 High Street, Reading, RG6 1PS
          .facilities 
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food 
            span.badge.badge-warning Premium wifi 
      .card 
        .card-block 
          h4 
            a(href='/location') Cafe Hero 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            span.badge.badge-pill.badge-default.float-end 260m
          p.address Rue des Goyaviers, ZZ6 3XA
          .facilities 
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food 
            span.badge.badge-warning Premium wifi 
      .card 
        .card-block 
          h4 
            a(href='/location') Burger Queen 
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
              i.fas.fa-star 
            span.badge.badge-pill.badge-default.float-end 96m
          p.address Rue des Briquetiers, RA9 3TZ
          .facilities 
            span.badge.badge-warning Food 
            span.badge.badge-warning Premium wifi 
    .col-12.col-md-4 
      p.lead Loc8r vous aide à trouver des endroits où travailler lorsque vous sortez.
